@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: theme('colors.background');
  color: theme('colors.on-surface');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}